body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  display: block;
  position: static;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.extra-margin {
  margin-bottom: 1.2em;
}

.extra-margin:last-child {
  margin-bottom: 0.2em;
}

.stronger {
  font-weight: 500;
}

ul.no-padding {
  padding-left: 30px;
}

h4.label-list {
  line-height: 1.5em;
}